:root {
  --primary-color: #373643;
  --secondry-color: #ff4200;
  --third-color: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

body {
  font-size: 14px;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  margin-top: 10px;
}

nav .logo img {
  width: 180px;
}

nav .links {
  display: flex;
  gap: 20px;
}

nav .links a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

nav .links a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  height: 1.2px;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: 0.4s;
}

nav .links a:hover::after {
  transform: scaleX(1);
}

#home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 200px;
}

#home .left-side #title{
  font-size: 18px;
  font-weight: 500;
}

#home .left-side #subtitle{
  font-size: 48px;
  font-weight: 500;
}

#home .left-side .btns{
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

#home .left-side .btns button{
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#home .left-side .btns #signup{
  background-color: var(--secondry-color);
  color: var(--third-color);
  font-size: 14px;
  &:hover{
    opacity: 0.8;
  }
}

#home .left-side .btns #signin{
  font-size: 14px;
}

#courses{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 50px 200px;
  flex-direction: column;
}

#courses #title{
  font-size: 36px;
}