:root {
  --primary-color: #373643;
  --secondry-color: #6366f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

body {
  font-size: 14px;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  margin-top: 10px;
}

nav .logo img {
  width: 180px;
}

nav .links {
  display: flex;
  gap: 20px;
}

nav .links a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

nav .links a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  height: 1.2px;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: 0.4s;
}

nav .links a:hover::after {
  transform: scaleX(1);
}