@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #373643;
  --secondry-color: #6366f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

body{
  overflow-x: hidden;
}

body img{
  background-size: cover;
  object-fit: cover;
  width: 101%;
  height: 600px;
}

#home{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 200px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.558);
}

#home nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

#home nav .links {
  display: flex;
  gap: 25px;
}

#home nav .links a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  font-size: 14px;
  color: #fcfcfc;
  &:hover {
    font-weight: 500;
  }
}

#home nav .links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.9px;
  background-color: #fcfcfc;
  left: 0;
  top: 25px;
  transition: 0.3s;
  transform: scale(0);
}

#home nav .links a:hover::after {
  transform: scale(1);
}

#home .input-and-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 80px;
}

#home .input-and-btn input{
  height: 42px;
  width: 350px;
  font-size: 13px;
}

#home .input-and-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .input-and-btn button img{
  height: 30px;
  width: 30px;
}

#home .sub-title h5{
  text-align: center;
  margin-top: 70px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fcfcfc;
}

#home .title h1{
  text-align: center;
  font-weight: 700;
  color: #fcfcfc;
  margin-top: 10px;
}

#home .discription p{
  text-align: center;
  font-size: 13px;
  color: #fcfcfc;
  margin-top: 15px;
}

#home .btns{
  margin-top: 20px;
}

#home .btns button{
  width: 150px;
  font-size: 13px;
  height: 40px;
}

#courses{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 200px;
}

#courses h1{
  font-weight: 700;
}

#courses p{
  font-size: 13px;
}

#courses .btns{
  display: flex;
  gap: 8px;
}

#courses .btns button{
  padding: 8px 20px;
  font-size: 13px;
  background-color: #fff;
  border: none;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  transition: 0.4s;
    &:hover{
      background-color: var(--primary-color);
      color: #fff;
    }
}

#courses #web-section .cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#courses #web-section .cards .set-1,
#courses #web-section .cards .set-2{
  display: flex;
  gap: 10px;
}

#courses #web-section .cards .set-1 .card-1,
#courses #web-section .cards .set-1 .card-2,
#courses #web-section .cards .set-1 .card-3,
#courses #web-section .cards .set-2 .card-4,
#courses #web-section .cards .set-2 .card-5,
#courses #web-section .cards .set-2 .card-6{
  padding: 25;
  border: 1.8px solid #fafafa;
  border-radius: 7px;
  padding: 25px;
  width: 350px;
  margin-top: 10px;
}


#courses #web-section .cards .set-1 .card-1 p,
#courses #web-section .cards .set-1 .card-2 p,
#courses #web-section .cards .set-1 .card-3 p,
#courses #web-section .cards .set-2 .card-4 p,
#courses #web-section .cards .set-2 .card-5 p,
#courses #web-section .cards .set-2 .card-6 p{
  text-align: justify;
  margin-top: 25px;
}

