nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 200px;
    gap: 100px;
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
}

nav .logo img {
    width: 185px;
}

nav .links {
    display: flex;
    gap: 25px;
}

nav .links a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

nav .links a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 1.4px;
    width: 100%;
    left: 0;
    top: 25px;
    transform: scale(0);
    transition: 0.3s;
}

nav .links a:hover::after {
    transform: scale(1);
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
    padding: 40px 200px;
}

#home p{
    text-align: center;
}

#home #title{
    font-size: 18px;
}

#home #sub-title{
    font-size: 42px;
    font-weight: 600;
}

#home .btns{
    display: flex;
    gap: 12px;
}

#home .btns button{
    height: 42px;
    width: 170px;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

#home .btns #register{
    background-color: var(--primary-color);
    color: #fff;
}