nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 200px;
    gap: 100px;
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
}

nav .logo img {
    width: 185px;
}

nav .links {
    display: flex;
    gap: 25px;
}

nav .links a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

nav .links a::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 1.4px;
    width: 100%;
    left: 0;
    top: 25px;
    transform: scale(0);
    transition: 0.3s;
}

nav .links a:hover::after {
    transform: scale(1);
}