* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 200px;
}

.login h3{
    font-weight: 600;
    margin-top: 50px;
}

.login #logo {
    width: 180px;
}

.login p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.login #protect-icn {
    width: 25px;
}

.login .offer{
    background-color: rgba(0, 128, 0, 0.162);
    color: rgb(0, 78, 0);
    margin-bottom: 15px;
}

.login .offer p{
    text-align: center;
    font-weight: 500;
    margin: 5px 10px;
}

.login .email,.login .password{
    margin-top: 15px;
}

.login input{
    width: 320px;
    background-color: var(--secondry-color);
}

.login button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: var(--secondry-color);
    width: 320px;
    margin-top: 15px;
    padding: 8px 0;
    font-weight: 500;

    &:hover{
        opacity: 0.8;
    }
}