*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.header .middle-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.header .middle-side .search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .middle-side .download-app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.header .left-side img{
    width: 150px;
}

.header .middle-side input{
    border-radius: 50px 0 0 50px;
    width: 300px;
    height: 38px;
    background-color: var(--secondry-color);
}

.header .middle-side .categories select{
    border-radius: 50px ;
    height: 38px;
    background-color: var(--secondry-color);
}

.header .middle-side .search-bar button{
    height: 38px;
    border-radius: 0 50px 50px 0;
    background-color: var(--primary-color);
    color: var(--secondry-color);
    border: none;
    padding: 0 15px;
}

.header .middle-side .search-bar img{
    width: 25px;
    font-weight: 800;
}

.header .middle-side .download-app img{
    width: 50px;
    margin-right: 10px;
}

.header .right-side img{
    width: 40px;
    margin-right: 10px;
}

.header .middle-side .download-app p{
    font-weight: 500;
    margin-top: 16px;
}

.header .right-side .email #email{
    margin-top: -20px;
}

.header .right-side .email #title{
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
}

.dashboard-title{
    padding: 20px 180px;
    margin-top: 15px;
}