*{
     font-family: "Poppins", sans-serif;
}

:root{
    --primary-color : #373643;
    --secondry-color : #FF4242;
    --third-color : #F6F6F6;
    --forth-color : #fff
}

body{
    overflow-x: hidden;
    font-size: 12.8px;
    font-weight: 500;
    color: var(--primary-color);
}