:root{
  --gradient-one : #220359;
  --gradient-two : #4906BF;
  --title-card : #FFC224;
  --accent-color : #6366f1;
  --light-purple : #C8C1ED;
  --light-yellow : #EBE0C4;
  --light-green : #C9E4E9;
  --title-card-color : #EFEEFE;
  --text-color : #6D6C80;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #161439;
}