@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
     font-family: "League Spartan", sans-serif;
}

:root{
    --primary-color : #333;
    --secondry-color : #fcfcfc;
    --third-color : #fafafa;
}

body{
    overflow-x: hidden;
    font-size: 16px;
}